Repository saracope/components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Create prettierignore file
  .prettierignore
Due: none

Update README
  README.md
Due: prettier --write

Remove Hacktoberfest stuff from banner
  README.md
Due: prettier --write

Change CI test command
  .github/workflows/main.yml
Due: none

Re-add lint command for CI
  package.json
Due: prettier --write

Fix CodeClimate action
  .github/workflows/main.yml
Due: none

Change variable name and file name
  src/@types/index.ts
  src/@types/testId.ts
  src/components/Button/Button.tsx
Due: prettier --write, eslint --fix

Remove irrelavant lint disables
  bin/createComponent.js
Due: prettier --write, eslint --fix

Extract ESLint config
  .eslintrc.js
Due: prettier --write, eslint --fix

Create component structure builder script
  bin/builders.js
  bin/createComponent.js
  package.json
Due: prettier --write, eslint --fix

Rename file
  src/index.ts
Due: prettier --write, eslint --fix

Make changes to builder script
  bin/builders.js
  bin/createComponent.js
Due: prettier --write, eslint --fix

Move components into components folder
  src/Button/Button.css
  src/components/Button/Button.tsx
  src/components/Button/__tests__/Button.test.tsx
  src/components/Button/index.ts
  src/index.tsx
Due: prettier --write, eslint --fix

Cast type of component
  src/components/Button/Button.tsx
Due: prettier --write, eslint --fix

Add create:component script instructions
  README.md
Due: prettier --write

Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Integrate Storybook
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Remove file
  src/@types/testId.ts
Due: prettier --write, eslint --fix

Alphabetize and edit TSConfig for Storybook
  tsconfig.json
Due: prettier --write

Get story working properly with docs addon
  src/components/Button/Button.tsx
  src/components/Button/__stories__/Button.stories.tsx
Due: prettier --write, eslint --fix

Define stories and consume them in tests
  src/components/Button/__stories__/Button.stories.tsx
  src/components/Button/__tests__/Button.test.tsx
Due: prettier --write, eslint --fix

Edit type cast of component
  src/components/Button/Button.tsx
Due: prettier --write, eslint --fix

Add file
  src/@types/testID.ts
Due: prettier --write, eslint --fix

Change Storybook config file to TS
  .storybook/main.ts
Due: prettier --write, eslint --fix

Create .nvmrc
  .nvmrc
Due: none

Add comment about syncing node versions
  .github/workflows/main.yml
Due: none

Useless commit to test cache success
  .github/workflows/main.yml
Due: none

Add dependency caching to GH action
  .github/workflows/main.yml
Due: none

Fix caching setup
  .github/workflows/main.yml
Due: none

Remove git add from .lintstagedrc
  .lintstagedrc
Due: none

Choose node version before dependency caching
  .github/workflows/main.yml
Due: none

fix: ci
  .github/workflows/main.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{md,html,xml,svg,json,graphql})
  eslint --fix: any of: *.{ts,tsx,js,jsx}
